{
  "presets": [
    [
      "react-native-stage-0/decorator-support"
    ]
  ],
  "plugins": [
    "transform-class-properties",
    "transform-export-extensions",
    "transform-decorators-legacy",
    "transform-es2015-destructuring"
  ]
}
